.content{
    justify-content: center;
    align-items:center ;
    display: flex;
    flex-direction: column;
}

.cursor_{
    margin-left: -5px !important;
}




.cta-content{
    margin-top: 200px;
    text-align: center;
}


@media (max-width:576px){

    .cursor_{
        margin-top: 6px;
        margin-left:-3px !important;
    }
    .typing{
        height: 20rem !important;
        padding: 10%;
    }

    .cta-content{
        margin-top: 260px;
        text-align: center;
        padding: 5%;
        margin-bottom: 3%;
    }

    
    .myinfo-card{
        padding: 5%;
    }

    .company-name{
        transform: translateX(100%);
    }

   
    
}





