.lottie-container {
    pointer-events: none; 
    object-fit:cover;

  }



  @media (max-width:576px){
    .lottie-container{
      transform: translateY(-220px);
      margin-bottom: -210px !important;
      
    }
  }