.lottie-container {
    pointer-events: none; 
    object-fit:cover;

  }



  @media (max-width:576px){
    .lottie-container{
      transform: translateY(-140px);
      margin-bottom: -160px !important;
      
    }
  }