@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Satisfy&display=swap');

html, body {
    background-color: black; 
      color: white;

}


*{
    margin: 0;
    padding: 0;
}