@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Satisfy&display=swap');

.service-btns{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cta-title{
    text-align: left;
    font-family: "Satisfy", cursive;
}

.cta-line{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white; 
    text-align: center;
    transition: all 0.3s ease; 

}

.cta-content_hero{
    text-align: center;
    height:100px;
    margin-top: 100px;
    margin-bottom: -80px;
}
.service button{
    border: 1px solid #c2fbd7;
    background-color: white;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .service button:hover {
    background-color: #a5f8c2;
    color: #14694f;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px, rgba(44, 187, 99, .35) 0 0 0 2px;
  }
  
  .service button:active {
    background-color: #82e8b3;
    color: #0d4f38;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px, rgba(44, 187, 99, .35) 0 0 0 2px;
  }
  

  .cta-content{
    margin-top: -80px;
  }
  
  
  

  @media (max-width:576px)  {
.service-btns{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top:3rem;
padding:5%;
margin-bottom: -15rem;
}

    .herocontact{
      margin-top: -30px !important;
    }
.cta-title{
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 200px;
}

.cta-line{
  padding: 10px;
}

  .cta-content_hero{
    margin-top: 5px;
    margin-bottom: 2px;
    }

    
    .service{
      margin-bottom: -50px;
      margin-top: -40px;
    }
  }